/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}

.container-display {
  background-color: #333;
  color: #fff;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 10px;
  min-height: 50px;
  margin-bottom: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff5722;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2em;
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  border: 2px solid #666;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.drum-pad:active {
  background-color: #666;
  transform: translateY(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.drum-pad:hover {
  background-color: #777;
}

#footer {
  margin-top: 20px;
  color: #ff5722;
  font-size: 0.8em;
  font-style: italic;
}

@media (max-width: 600px) {
  .drum-pad {
    width: 80px;
    height: 80px;
    font-size: 1.2em;
  }

  .container-display {
    font-size: 1.2em;
  }
}
